python-dotenv
langchain 
langchain_community
langchain_openai
streamlit 
langserve
fastapi 
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
langchain_groq
ipykernel
langchain_ollama
arxiv
wikipedia
langchainhub